In [2]:
import os
import pandas as pd
import torch

In [3]:
data_dir = "./jigsaw-dataset"

In [5]:
df = pd.read_csv(os.path.join(data_dir, "train.csv"))

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
df.head()

,id,target,comment_text,severe_toxicity,obscene,identity_attack,insult,threat,asian,atheist,...,article_id,rating,funny,wow,sad,likes,disagree,sexual_explicit,identity_annotator_count,toxicity_annotator_count
0,59848,0.000000,"This is so cool. It's like, 'would you want yo...",0.000000,0.0,0.000000,0.00000,0.0,NaN,NaN,...,2006,rejected,0,0,0,0,0,0.0,0,4
1,59849,0.000000,Thank you!! This would make my life a lot less...,0.000000,0.0,0.000000,0.00000,0.0,NaN,NaN,...,2006,rejected,0,0,0,0,0,0.0,0,4
2,59852,0.000000,This is such an urgent design problem; kudos t...,0.000000,0.0,0.000000,0.00000,0.0,NaN,NaN,...,2006,rejected,0,0,0,0,0,0.0,0,4
3,59855,0.000000,Is this something I'll be able to install on m...,0.000000,0.0,0.000000,0.00000,0.0,NaN,NaN,...,2006,rejected,0,0,0,0,0,0.0,0,4
4,59856,0.893617,haha you guys are a bunch of losers.,0.021277,0.0,0.021277,0.87234,0.0,0.0,0.0,...,2006,rejected,0,0,0,1,0,0.0,4,47

In [8]:
df['label'] = (df['target'] >= 0.5).astype(int)
df.head()

,id,target,comment_text,severe_toxicity,obscene,identity_attack,insult,threat,asian,atheist,...,rating,funny,wow,sad,likes,disagree,sexual_explicit,identity_annotator_count,toxicity_annotator_count,label
0,59848,0.000000,"This is so cool. It's like, 'would you want yo...",0.000000,0.0,0.000000,0.00000,0.0,NaN,NaN,...,rejected,0,0,0,0,0,0.0,0,4,0
1,59849,0.000000,Thank you!! This would make my life a lot less...,0.000000,0.0,0.000000,0.00000,0.0,NaN,NaN,...,rejected,0,0,0,0,0,0.0,0,4,0
2,59852,0.000000,This is such an urgent design problem; kudos t...,0.000000,0.0,0.000000,0.00000,0.0,NaN,NaN,...,rejected,0,0,0,0,0,0.0,0,4,0
3,59855,0.000000,Is this something I'll be able to install on m...,0.000000,0.0,0.000000,0.00000,0.0,NaN,NaN,...,rejected,0,0,0,0,0,0.0,0,4,0
4,59856,0.893617,haha you guys are a bunch of losers.,0.021277,0.0,0.021277,0.87234,0.0,0.0,0.0,...,rejected,0,0,0,1,0,0.0,4,47,1

In [9]:
train_df, val_df = train_test_split(df, test_size=0.2, random_state=42)

In [12]:
train_df.shape

(1443899, 46)

In [13]:

train_df.to_csv(os.path.join(data_dir, "train_split.csv"), index=False)
val_df.to_csv(os.path.join(data_dir, "val_split.csv"), index=False)

In [14]:
test_df = pd.read_csv(os.path.join(data_dir, "test.csv"))

In [15]:
test_df.head()

        id                                       comment_text
0  7097320  [ Integrity means that you pay your debts.]\n\...
1  7097321  This is malfeasance by the Administrator and t...
2  7097322  @Rmiller101 - Spoken like a true elitist. But ...
3  7097323  Paul: Thank you for your kind words.  I do, in...
4  7097324  Sorry you missed high school. Eisenhower sent ...

In [16]:
test_pvt_df = pd.read_csv(os.path.join(data_dir, "test_private_expanded.csv"))
test_pvt_df.head()

,id,comment_text,created_date,publication_id,parent_id,article_id,rating,funny,wow,sad,...,other_religion,black,white,asian,latino,other_race_or_ethnicity,physical_disability,intellectual_or_learning_disability,psychiatric_or_mental_illness,other_disability
0,7097320,[ Integrity means that you pay your debts.]\n\...,2017-09-13 20:12:01.484121+00,21,5945023.0,376974,approved,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7097321,This is malfeasance by the Administrator and t...,2017-05-17 07:01:51.902566+00,55,NaN,335003,approved,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,7097322,@Rmiller101 - Spoken like a true elitist. But ...,2016-12-02 17:12:12.920957+00,54,649389.0,154126,approved,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,7097323,"Paul: Thank you for your kind words. I do, in...",2017-04-21 14:58:05.474657+00,13,5158666.0,328376,approved,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7097324,Sorry you missed high school. Eisenhower sent ...,2017-10-01 19:43:12.373229+00,102,6061626.0,383983,approved,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
test_pvt_df.shape

(97320, 45)

In [17]:
test_pub_df = pd.read_csv(os.path.join(data_dir, "test_public_expanded.csv"))
test_pub_df.head()

,id,comment_text,created_date,publication_id,parent_id,article_id,rating,funny,wow,sad,...,other_religion,black,white,asian,latino,other_race_or_ethnicity,physical_disability,intellectual_or_learning_disability,psychiatric_or_mental_illness,other_disability
0,7000000,Jeff Sessions is another one of Trump's Orwell...,2017-01-26 07:37:38.422417+00,13,NaN,164149,approved,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7000001,I actually inspected the infrastructure on Gra...,2016-12-03 20:38:21.204649+00,54,655260.0,154341,approved,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7000002,No it won't . That's just wishful thinking on ...,2017-05-05 18:07:58.560078+00,21,5219683.0,332005,approved,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7000003,Instead of wringing our hands and nibbling the...,2017-02-09 14:46:30.189044+00,13,NaN,167110,approved,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7000004,how many of you commenters have garbage piled ...,2016-10-15 01:18:40.521923+00,21,NaN,148484,approved,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
train_df = pd.read_csv(os.path.join(data_dir, "train.csv"))
train_df.head()

,id,target,comment_text,severe_toxicity,obscene,identity_attack,insult,threat,asian,atheist,...,article_id,rating,funny,wow,sad,likes,disagree,sexual_explicit,identity_annotator_count,toxicity_annotator_count
0,59848,0.000000,"This is so cool. It's like, 'would you want yo...",0.000000,0.0,0.000000,0.00000,0.0,NaN,NaN,...,2006,rejected,0,0,0,0,0,0.0,0,4
1,59849,0.000000,Thank you!! This would make my life a lot less...,0.000000,0.0,0.000000,0.00000,0.0,NaN,NaN,...,2006,rejected,0,0,0,0,0,0.0,0,4
2,59852,0.000000,This is such an urgent design problem; kudos t...,0.000000,0.0,0.000000,0.00000,0.0,NaN,NaN,...,2006,rejected,0,0,0,0,0,0.0,0,4
3,59855,0.000000,Is this something I'll be able to install on m...,0.000000,0.0,0.000000,0.00000,0.0,NaN,NaN,...,2006,rejected,0,0,0,0,0,0.0,0,4
4,59856,0.893617,haha you guys are a bunch of losers.,0.021277,0.0,0.021277,0.87234,0.0,0.0,0.0,...,2006,rejected,0,0,0,1,0,0.0,4,47

In [30]:
train_df["comment_text"].str.len().max()

1906.0

In [31]:
train_df.shape

(1804874, 45)

In [32]:
train_data = train_df.dropna(subset=['comment_text'])

In [34]:
train_data['comment_text'] = train_data['comment_text'].astype(str)

/var/tmp/ipykernel_10472/869454231.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data['comment_text'] = train_data['comment_text'].astype(str)

In [35]:
print("Number of null values after cleaning:")
print("Train set:", train_data['comment_text'].isnull().sum())

Number of null values after cleaning:
Train set: 0

In [28]:
test_pub_df["comment_text"].str.len().max()

1971

In [20]:
test_df.shape

(97320, 2)

In [22]:
test_pvt_df["target"]

KeyError: 'target'

In [26]:
import numpy as np
subset_dir = "subset/subset_epoch1_step1589.npz"
data_1 = np.load(subset_dir)
data_2 = np.load("subset/subset_epoch1_step1449.npz")
data_3 = np.load("subset/subset_epoch1_step1666.npz")

In [27]:
data_3['subset'].shape

(6160,)

In [28]:
data_union = np.union1d(data_1['subset'], data_2['subset'])
data_union = np.union1d(data_union, data_3['subset'])
data_union.shape

(14403,)

In [3]:
import os
import re
import numpy as np

# Specify the directory containing the .npz files
subset_dir = "./subset"  # Update this to your actual directory path

# Initialize a set to store the union of all arrays
union_set = set()

# Function to check if the file name contains a number greater than 100
def contains_large_number(file_name):
    numbers = re.findall(r'\d+', file_name)  # Extract all numbers from the file name
    return any(int(num) > 100 for num in numbers)  # Check if any number is greater than 100

# Loop through all .npz files in the directory
for file_name in os.listdir(subset_dir):
    if file_name.endswith(".npz"):
        file_path = os.path.join(subset_dir, file_name)
        data = np.load(file_path)
        print(data['subset'].shape)
        # Extract and add the arrays to the union set
        union_set.update(data['subset'])

# Convert the union set to a sorted array (optional)
union_array = np.array(sorted(union_set))

(10,)
(4880,)
(6000,)
(40,)
(4,)
(6160,)
(160,)
(80,)
(80,)
(20,)
(4,)
(4,)
(10,)
(80,)
(80,)
(4,)
(4320,)
(5600,)
(10,)
(5360,)
(9600,)
(80,)

In [5]:
union_array.shape

(29821,)

In [6]:
import pandas as pd

# Convert the NumPy array to a DataFrame
union_df = pd.DataFrame(union_array, columns=["id"])
output_csv_path = "./subset/union_of_ids_all.csv"  # Update the desired output path
union_df.to_csv(output_csv_path, index=False)

In [9]:
union_df.head()

   id
0   1
1   2
2   7
3  13
4  15

In [10]:
# Load the original dataset
original_dataset_path = "./jigsaw-dataset/train.csv"  # Update with the actual path
original_dataset = pd.read_csv(original_dataset_path)

# Load the subset IDs (as row indices)
subset_ids_path = "./subset/union_of_ids.csv"  # Update with the actual path
subset_ids = pd.read_csv(subset_ids_path)  # Assuming no header in the subset file

# Ensure subset IDs are integers (row indices)
subset_ids["id"] = subset_ids["id"].astype(int)

# Slice the original dataset using subset indices
filtered_dataset = original_dataset.iloc[subset_ids["id"].values]

# Save the sliced dataset to a new CSV
output_sliced_path = "./sliced_dataset.csv"
filtered_dataset.to_csv(output_sliced_path, index=False)

In [13]:
filtered_dataset.shape

(24566, 45)